doctype html
html(manifest="app.cache")
  head
    title Beer App 2018
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="/css/cbc.css", type="text/css", rel="stylesheet")
  body
    #window
      img.loader(src="/img/puff.svg")
      .status-text
      
  script(type="text/html", class="template", data-template-id="loading")
    img.loader(src="/img/puff.svg")
    .status-text
  script(type="text/html", class="template", data-template-id="index")
    #main-menu
      | {{#msg}}
      .msg {{.}}
      | {{/msg}}
      h1= "What's Brewing 2017"
      .sessions
        a(href='#session[{"colour":"friday"}]', class="session friday") 
          h2 Friday
          .sub Friday 14-22
        a(href='#session[{"colour":"saturday"}]', class="session saturday") 
          h2 Saturday
          .sub Saturday 14-22
      .beer-lists
        a(href="#beerlist", class="all-beers-sel") All Beers
      .untappd
        img(src='/img/ut_icon_144.png')
        | {{#untappd_token}}
        .ut-user Logged into Untappd as {{untappd_user}}. 
          a(href='#ut_logout') Log out
        .ut-sync
          a(href='#snapshot') Save snapshot for {{untappd_user}}
          a(href='#loadsnapshot') Load snapshot for {{untappd_user}}
          .expl Saving/loading snapshots requires internet. This will save your starred/checks/ratings to the server so that you can easily load them on another device by connecting it to your untappd account and pressing the "load snapshot" button. If you are just using the one device, you do not need to use snapshots, all your data is saved on that device :).
          .load-ratings Want to automatically check off your checked-in beers? You can do that. You should do it a couple of hours before the festival however, since it is pretty easy to get rate limited after using this feature. You will get rate limited if you have more than 5000 unique checkins. Click <a href="/#unicorn">here</a> to link. Checkin markings will be saved with snapshots for transferring between devices.
        | {{/untappd_token}}
        | {{^untappd_token}}
        a.ut-auth(href="https://untappd.com/oauth/authenticate/?client_id={{untappd_cid}}&response_type=token&redirect_url={{untappd_redir_url}}") Tap here to connect to Untappd.
        .ut-info This will allow you to send checkins to untappd in the background, from the app (if you have internet access).
        | {{/untappd_token}}
      .live-ratings
        | 👥 Live Ratings are turned <strong>{{#live_ratings}}on{{/live_ratings}}{{^live_ratings}}off{{/live_ratings}}</strong>.
        a(href="#toggle_live_ratings") Turn live ratings {{#live_ratings}}off{{/live_ratings}}{{^live_ratings}}on{{/live_ratings}}
        .expl When live ratings are turned on, an average based on ratings from users of this app is generated and updated in real time, as people drink beer and rate. This feature requires internet.
      .info
        p Made by <a href="http://github.com/jonpacker">Jon Packer</a>.

  script(type="text/html", class="template", data-template-id="beerlist")
    #beerlist(class="{{typeclass}} {{saved}} {{tasted}} {{#today}}today{{/today}} order-{{order}} ms-{{metastyle}} mini-{{mini}}")
      h1 {{title}}
        sub {{beer_count}} beers, {{breweries.length}} brewers listed
        a.back(href="#index") ↫
      .container
        .order.bar
          span.info Display Options
          a.mini(href='{{#tset}}mini=!mini{{/tset}}') Small UI
          span.info Sort by
          a.site-bg-style.ut_rating(href='{{#tset}}order=ut_rating{{/tset}}') 
            img(src="/img/ut_icon_144.png")
            | Rating
          | {{#live_ratings}}
          a.site-bg-style.avg.live-rating(href='{{#tset}}order=live_rating{{/tset}}') 👥 Rating
          | {{/live_ratings}}
          a.ordering.order-location(href='{{#tset}}order=location{{/tset}}') Location
          | {{#order}}
          a.ordering(href='{{#tset}}order=!{{/tset}}') Brewery
          | {{/order}}
          | {{^order}}
          a.ordering.order-by-name.selected(href='{{#tset}}order=!{{/tset}}') Brewery
          | {{/order}}
        .filter.bar
          span.info Filter by 
          a.tasted(href='{{#tset}}tasted=tasted{{/tset}}') ✓
          a.not-tasted(href='{{#tset}}tasted=not-tasted{{/tset}}') NOT ✓
          a.saved(href='{{#tset}}saved=saved{{/tset}}') ★
          a.not-saved(href='{{#tset}}saved=not-saved{{/tset}}') NOT ★
          a.today(href='{{#tset}}today=true{{/tset}}') Only Today
          a(href='{{#tset}}saved=!,tasted=!,today=!{{/tset}}') ✘ Reset
        .key.bar
          span.info Filter by  
          | {{#metastyles}}
          a.style-border(class="{{.}}", href='{{#tset}}metastyle={{.}}{{/tset}}') {{.}}
          | {{/metastyles}}
          | {{#metastyle}}
          a(href='{{#tset}}metastyle={{/tset}}') ✘ Reset
          | {{/metastyle}}
        | {{#breweries}}
        .brewery
          h2 {{name}}
            .location {{location}}
          .beers
            | {{#beers}}
            .beer.style-border(class="{{metastyle}} {{session}} {{sessionSet}} {{saved}} {{tasted}} {{tag}} {{#no_info_available}}no-info{{/no_info_available}} {{#notes}}has-notes{{/notes}} {{#rating}}has-rating r-{{.}}{{/rating}} {{#ut_checked_in}}ut-checked-in{{/ut_checked_in}} {{#ut_h_ch}}ut-historic-checked-in{{/ut_h_ch}}", data-id="{{id}}")
              .headline
                .name-block
                  .name {{name}}
                  .abv {{#percent}}{{percent}}{{/percent}}{{^percent}}?{{/percent}}
                  | {{#ut_rating}}
                  .ut-avg 
                    img(src="/img/ut_icon_144.png")
                    | {{ut_rating_clamped}}
                  | {{/ut_rating}}
                  | {{#live_ratings}}
                  .live-avg {{#live_rating}}👥 {{live_rating_clamped}}{{/live_rating}}
                  | {{/live_ratings}}
                  .style {{superstyle}}
                .marks 
                  a.star ★
                  a.tick ✓
                .ratings
                  a.site-bg-style.score.untappd(href="https://untappd.com/{{#is_mobile}}qr/{{/is_mobile}}beer/{{ut_bid}}", target="_blank") Untappd: {{#ut_rating}}{{ut_rating_clamped}}{{ut_rating_rank_br}}{{/ut_rating}}{{^ut_rating}}no rating{{/ut_rating}}
                  | {{#ut_h_ch}}
                  a.site-bg-style.score.untappd(href="https://untappd.com/user/{{untappd_user}}/checkin/{{ut_h_id}}", target="_blank") You (UT): {{ut_h_ra}}
                  | {{/ut_h_ch}}
                  | {{#live_ratings}}
                  | {{#live_rating}}
                  a.site-bg-style.score.avg.live-rating Users ({{live_rating_count}}): {{live_rating_clamped}}
                  | {{/live_rating}}
                  | {{^live_rating}}
                  a.site-bg-style.score.avg.live-rating(style="display:none")
                  | {{/live_rating}}
                  | {{/live_ratings}}
                  a.add-rating Rate
                .expanded
                  .desc {{trunc_desc}}

                .rate-box
                  label(for="rslider") Rating
                  input.rating-slider(name="rslider", type="range", min="0", max="5", step=".25" value="{{rating}}")
                  .rating-slider-control
                    .track
                    .handle(style="left:{{rating_as_percent}}%;")
                  .rating-text {{rating}}
                  textarea(name="rnotes", placeholder="Notes").notes {{notes}}
                  | {{#untappd_token}}{{#ut_bid}}
                  .untappd
                    a.send-to-untappd(data-bid="{{ut_bid}}")
                      img(src="/img/ut_icon_144.png")
                      | Send to Untappd
                    span.sending-untappd-checkin
                      img(src="/img/spin.svg").load
                    span.untappd-error-text
                    .sent-to-untappd
                      .beer-check-mark
                      | you have sent this checkin to untappd
                  | {{/ut_bid}}{{/untappd_token}}



            | {{/beers}}

        | {{/breweries}}


  script(type="text/javascript", src="/js/jquery-2.2.3.min.js")
  script(type="text/javascript", src="/js/underscore-min.js")
  script(type="text/javascript", src="/js/mustache.min.js")
  script(type="text/javascript", src="/js/drag-listener.min.js")
  script(type="text/javascript", src="/js/app/cbc.js")
  script(type="text/javascript").
    var initData = {
      beers: !{JSON.stringify(beers)},
      breweries: !{JSON.stringify(breweries)},
      superstyles: !{JSON.stringify(superstyles)},
      metastyles: !{JSON.stringify(metastyles)}
    };
    window.BeerApp = initBeerApp(initData);
    fetch('/latest.json').then(function(res) {
      return res.json();
    }).then(function(latest) {
      window.beers = latest.beers;
      window.breweries = latest.breweries;
      window.superstyles = latest.superstyles;
      window.metastyles = latest.metastyles;
      indexBeers();
      updateBeersMarked();
      route(location.hash);
    });
