@require 'clrs.styl'

@font-face {
  font-family: 'oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'),
       url('/fonts/oswald-v10-latin-regular.woff2') format('woff2'), 
       url('/fonts/oswald-v10-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'),
       url('/fonts/oswald-v10-latin-700.woff2') format('woff2'), 
       url('/fonts/oswald-v10-latin-700.woff') format('woff'); 
}

html
body
  width: 100%
  padding: 0
  margin: 0

body
  font-family: oswald

h1
  text-align: center
  font-size: 4rem

#exportfield
  width: 100%
  margin-top: 5rem
  padding-bottom: 2rem
  font-size: 2rem
  text-align: center

  input
    display: block
    border: 0.5rem dashed yellow
    width: 80%
    margin: 1rem auto
    padding: 1rem
    text-align: center
    font-family: inherit
    
.loader
  width: 8rem
  height: 8rem
  margin: 5rem auto
  display: block
.status-text
  font-size: 3rem
  text-align: center

#main-menu
  .msg
    width: 80%
    margin: 4vw auto 0
    padding: 3vw 5vw
    font-weight: bold
    font-size: 3vw
    border: 1vw dashed yellow
    text-align: center
    
  .sessions
    width: 100%
    display: flex
    flex-wrap: wrap
    box-sizing: border-box
    justify-content: center
    padding: 2.5% 0 2.5%
    .session
      width: 45%
      box-sizing: border-box
      color: black
      padding: 4rem
      text-align: center
      display: block
      text-decoration: none

      h2
        font-size: 3.5rem
        margin: 0
      .sub
        font-size: 1.5rem
        font-style: italic


  .info
    text-align: center
    font-size: 2rem
    
  .untappd
    text-align: center
    font-size: 2rem
    outline: 0.5rem solid #ffcc00
    padding: 2rem
    box-sizing: border-box
    width: 90vw
    margin: 0 auto
    margin-bottom: 5%
    .ut-user
      display: inline-block
    .ut-info
      font-size: 1.5rem
      margin-top: 0.5rem
    .ut-sync
      margin-top: 0.75rem
      font-size: 1.4rem
      .expl
        font-size: 1.25rem
        margin-top: 0.5rem
      .load-ratings
        font-size: 1rem
        margin-top: 1rem
      a
        background-color: #ffcc00
        padding: 0.25rem 1rem
        border-radius: 0.2rem
        margin: 0 0.5rem
    img
      width: 4rem
      height: 4rem
      margin-right: 2rem
      vertical-align: middle
      
  .live-ratings
    text-align: center
    font-size: 2rem
    outline: 0.5rem solid orange
    padding: 2rem
    box-sizing: border-box
    width: 90vw
    margin: 0 auto
    margin-bottom: 5%
    a
      display: block
    .expl
      font-size: 1.25rem
      margin-top: 0.5rem

  .beer-lists
    display: flex
    box-sizing:border-box
    flex-wrap: wrap
    flex-direction: vertical
    justify-content: center
    padding: 0 0 5%

    .all-beers-sel
      width: 90%
      background-color: orange
      margin-bottom: 1.5rem

      font-size: 2.5rem
      padding: 1rem 4rem
      box-sizing: border-box
      color: black
      text-decoration: none
      &:after
        content: '➜'
        float: right

html
  font-size: 9px

  @media (min-width: 2160px) and (max-width: 2700px)
    font-size: 0.3vw

  @media (min-width: 1800px) and (max-width: 2160px)
    font-size: 0.4vw

  @media (min-width: 1440px) and (max-width: 1800px)
    font-size: 0.5vw

  @media (min-width: 1080px) and (max-width: 1350px)
    font-size: 0.666667vw
  
  @media (min-width: 720px) and (max-width: 900px)
    font-size: 1vw

  @media (max-width: 500px)
    font-size: 2vw

#beerlist
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  h1 
    margin: 0
    padding: 0.5rem 0
    width: 100%
    text-transform: capitalize
    font-size: 4rem
    position: relative
    overflow: hidden

    .back
      height: 150%
      width: 20%
      left: 0
      top: -25%
      text-decoration: none
      font-size: 8rem
      position: absolute
      color:black
      display: block
      &:hover
        background-color: rgba(white, 25%)

   sub
     font-size: 1.5rem
     display: block

  .container
    display: flex
    width: 100%
    flex-direction: column
    align-items: center
    flex-wrap: wrap

    @media (min-width: 720px)
      flex-direction: row
      justify-content: space-between
      box-sizing: border-box
      align-items: flex-start
      padding: 0 3vw
      & > div
        max-width: 45.5vw
      & > div.bar
        max-width: 100vw


    @media (min-width: 1080px)
      padding: 0 2.5vw
      & > div
        max-width: 30vw

    @media (min-width: 1440px)
      padding: 0 2vw
      & > div
        max-width: 22.5vw

    @media (min-width: 1800px)
      padding: 0 1.666667vw
      & > div
        max-width: 18.0vw

    @media (min-width: 2160px)
      padding: 0 1.428571vw
      & > div
        max-width: 15.0vw


  .key
    text-align: center
    margin-top: 1rem
    width: 100%
    span.info
      margin-right: 1rem
      &:after
        content: ':'
  .key .style-border
    display: inline-block
    padding: 1rem
    font-size: 1.25rem
    margin-right: 1rem
    margin-bottom: 0.5rem
    background: #CCC
    color: inherit

  &.ms-Dark .key .Dark
  &.ms-Traditional .key .Traditional
  &.ms-Hoppy .key .Hoppy
  &.ms-Imperial.Stout .key .Imperial.Stout
  &.ms-Barley.Wine .key .Barley.Wine
  &.ms-Mixed-fermentation .key .Mixed-fermentation
  &.ms-Sour .key .Sour
  &.ms-Belgian .key .Belgian
  &.ms-Experimental .key .Experimental
  &.ms-Cider .key .Cider
  &.ms-Mead .key .Mead
  &.ms-Wine .key .Wine
  &.ms-Sake .key .Sake
  &.ms-Pumpkin .key .Pumpkin
  &.order-score .order .avg
  &.order-hype .order .hype
  &.order-ut_rating .order .ut_rating
  &.order-ratebeer .order .ratebeer
  &.order-beeradvocate .order .beeradvocate
  &.order-live_rating .order .live-rating
  &.order-location .order .order-location
  &.saved .filter .saved
  &.not-saved .filter .not-saved
  &.today .filter .today
  &.tasted .filter .tasted
  &.not-tasted .filter .not-tasted
  &.mini-true .order .mini
  .order-by-name.selected
    outline: 0.5rem solid fuchsia

  .order
    padding: 1rem 5%
    width: 100%
    box-sizing: border-box
    display: flex
    justify-content: center
    a
      display: block
      min-width: 12%
      max-width: 60px
      padding: 0.5rem
      text-align: center
      font-size: 1.5rem
      &:not(.site-bg-style)
        background-color: silver
      &.ordering:before
        content: '⇳ '
      img
        width: 2rem
        height: 2rem
        vertical-align: middle
      
    span.info
      margin-right: 1rem
      margin-left: 2rem
      vertical-align: middle
      margin-top: 0.9rem
      &:after
        content: ':'
      


  .filter
    width: 100%
    padding: 1rem 5%
    box-sizing: border-box
    text-align: center
    
    span.info
      margin-right: 1rem
      &:after
        content: ':'

    a
      display: inline-block
      background-color: silver
      padding: 0.5rem
      color: inherit
      width: 10%
      margin: 0 0.5rem
      font-size: 1.5rem
      max-width: 60px
    

  .brewery
    width: 90%
    background-color: #EEE
    box-sizing: border-box
    margin-top: 1rem

    h2
      font-size: 2.5rem
      margin: 0
      padding: 1.5rem 2.5rem
      background-color: #333
      color: white
      
      .location
        font-size: 1.4rem
        display: inline-block
        margin-left: 1rem
        float: right

  &.mini-true
    .beer .headline
      .ratings
      .expanded
        display: none
    .beer.expand .headline
      .ratings
      .expanded
        display: block
  &.mini-false
    .beer .headline
      .name-block .ut-avg
      .name-block .live-avg
        display: none
      
    

  .beer
    margin-bottom: 0.5rem
    &:last-child
      margin-bottom: 0

    &.saved
      outline: 0.5rem solid fuchsia

    &.tasted
      opacity: 0.5
      
    &.ut-checked-in .headline
    &.ut-historic-checked-in .headline
      background-image: url(/img/drank_flag.png)
      background-repeat: no-repeat
      background-position: top right

    .star
    .tick
      text-shadow: 1px 1px 0px black
      color: lighten(silver, 50%)
      margin-top: -0.3em
      padding: 0.1em
      display: inline-block
      cursor: pointer
      font-size: 1.5em
    &.saved .star
    &.tasted .tick
      color: yellow
      text-shadow: 0px 0px 5px black


    .headline
      padding: 1rem 2.5rem

      font-size: 2rem
      background-color: #CCC
      display: flex
      align-items: center
      flex-wrap: wrap

      .name-block
        width: 81%
        display: flex
        flex-wrap: wrap

        .name
          font-weight: bold
          width: 80%

        .abv
          width: 20%
          font-size: 1.75rem
          &:after
            content:'%'
            font-size: 0.6em
            display: inline-block
            position: relative
            top: -0.6em

        .style
          width: 70%
          font-size: 1.4rem
          
        .ut-avg
        .live-avg
          width: 15%
          font-size: 1.4rem
          img
            width: 1.5rem
            height: 1.5rem
            vertical-align: baseline
            border-radius: 0.25rem
            margin-right: 0.3rem

      .marks
        width: 19%

      .ratings
        width: 100%
        margin-top: 0.5rem
        font-size: 1.25rem

        .score
          width: 40%
          text-align: center
          box-sizing: border-box
          padding: 0.5rem
          float: left

          &[href=""]
            text-decoration: none

          &:empty:after
            content: '—'

        .yours
          background-color: fuchsia
          color: white

        .add-rating
          width: 20%
          background-color: fuchsia
          display: block
          box-shadow: inset 0px 0px 0px 3px rgba(white, 25%), 0px 1px 0px rgba(black, 50%)
          border-radius: 5px
          float: right
          font-size: 1.25rem
          text-align: center
          box-sizing: border-box
          padding: 0.5rem 1rem
          cursor: pointer

          &.is-rating
            box-shadow: 0px 0px 15px red


      .expanded
        width: 100%
        margin-top: 0.5rem

        div.style
          font-size: 1.4rem
          margin-bottom: 0.25rem


        div
          width: 80%
          font-size: 1.25rem
          box-sizing: border-box
          padding-right: 2rem

        
      .rate-box
        font-size: 1.5rem
        margin-top: 1rem
        width: 100%
        display: none
        flex-wrap: wrap
        label
          font-weight: bold
          width: 15%
          display: inline-block
          display: none
        input.rating-slider
          width: 70%
          display: none
          
        .rating-slider-control
          width: 68%
          margin-right: 2%
          
          position: relative
          height: 2.6rem
          .track
            width: 100%
            height: 3px
            border-radius: 0.2rem
            background-color: #444
            margin-top: 1.2rem
          .handle
            position: absolute
            width: 4rem
            height: 4rem
            top: 50%
            left: 0px
            margin-top: -2rem
            margin-left: -2rem
            
            &:after
              content: ''
              position: absolute
              left: 1rem
              top: 1rem
              width: 2rem
              height: 2rem
              box-sizing: border-box
              border: 2px solid black
              background-color: magenta
              box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 2px rgba(black, 50%)
              border-radius: 1rem
            

        textarea
          width: 100%
          height: 4em
          display: none

        .rating-text
          width: 10%
          text-align: center
          font-weight: bold
          font-size: 2rem
          display: inline-block
          display: none
          
        .untappd
          margin-top: 0.2rem
          width: 100%
          
        .previous-checkin
          margin-right: 1rem
          display: inline-block
        
        .send-to-untappd
          width: 40%
          vertical-align: top
          background-color: #ffcc00
          display: inline-block
          box-shadow: inset 0px 0px 0px 3px rgba(white, 25%), 0px 1px 0px rgba(black, 50%)
          border-radius: 5px
          align-self: flex-end
          font-size: 1.25rem
          text-align: center
          box-sizing: border-box
          padding: 0.2rem 1rem
          cursor: pointer
          img
            width: 2.5rem
            height: 2.5rem
            margin-right: 0.5rem
            vertical-align: middle
            
        .sent-to-untappd
          color: mix(black, #ffcc00, 75%)
          font-size: 1.25rem
          display: none
          .beer-check-mark
            width: 2rem
            height: 2rem
            display: inline-block
            vertical-align: middle
            margin-right: 0.5rem
            background-color: #ffcc00
            background-image: url(/img/beer_icon_check.png)
            background-size: 1.4rem
            background-repeat: no-repeat
            background-position: center
            
        .sending-untappd-checkin
          display: none
          
          img
            width: 3rem
            height: 3rem
            vertical-align: middle

    &.has-rating:not(.r-0)
      .headline .rate-box
        display: flex
        label, .rating-slider-control, .rating-text
          display: inline-block
        .untappd
          display: block

    &.has-notes
      .headline .rate-box
        display: flex
        textarea
          display: block

    &.add-rating
      .headline .rate-box
        display: flex
        textarea
          display: block
        label, .rating-slider-control, .rating-text
          display: inline-block
        .untappd
          display: block
    
    &.ut-checked-in
      .headline .rate-box
        .sent-to-untappd
          display: block
        .send-to-untappd
        .have-i-drunk-it
          display: none
  
  &.beer-list .filter a.today
    display: none

  .beer .name:before
    font-size: 0.5em 
    padding: 0.2rem 0.4rem
    font-weight: 400
    border-radius: 0.2rem
    color: white
    display: inline-block
    vertical-align: middle
    margin-right: 0.5rem
  
  .beer.friday .name:before
    content: 'fri'
    background-color: red
  .beer.friday.saturday .name:before
    content: 'fri & sat'
    background-color: magenta
  .beer.saturday .name:before
    content: 'sat'
    background-color: blue
    
  .beer.no-info:after
    display: block
    content: 'New beer, no Untappd link/info available, no auto checkin'
    padding: 0.3rem
    border: 0.2rem solid magenta
    text-align: center
    border-top: none
    background-color: rgba(magenta, 0.1)
    font-size: 1.25rem
    
  .beer.early
  .beer.late 
    .name:after
      font-size: 0.5em 
      padding: 0.2rem 0.4rem
      font-weight: 400
      border-radius: 0.2rem
      color: black
      display: inline-block
      vertical-align: middle
      margin-left: 0.5rem
      
    &.early .name:after
      content: '14-18'
      background-color: green
    &.late .name:after
      content: '18-22'
      background-color: orange
      
  &.friday.session
    .beer.friday .name:before
      content: none
      background-color: red
    .beer.friday.saturday .name:before
      content: 'fri & sat'
      background-color: magenta
  &.saturday.session
    .beer.saturday .name:before
      content: none
      background-color: red
    .beer.friday.saturday .name:before
      content: 'fri & sat'
      background-color: magenta
  
    


.style-border
  &.Dark
  &.Imperial.Stout
   border-left: 1rem solid navy
   
  &.Barley.Wine
   border-left: 1rem solid yellow

  &.Traditional
  &.Classic
   border-left: 1rem solid silver

  &.Hoppy
   border-left: 1rem solid green

  &.Strong
   border-left: 1rem solid maroon
  &.Sake
   border-left: 1rem solid olive

  &.Mixed-fermentation
   border-left: 1rem solid blue

  &.Sour
   border-left: 1rem solid fuchsia

  &.Belgian
   border-left: 1rem solid blue
  &.Experimental
   border-left: 1rem solid teal

  &.Traditional
   border-left: 1rem solid red

  &.Cider
   border-left: 1rem solid olive
  &.Mead
   border-left: 1rem solid orange  

  &.Pumpkin
   border-left: 1rem solid orange 

.site-bg-style
  &.avg
    background-color: orange
  &.hype
    background-color:pink
    color: white

  &.untappd
  &.ut_rating
    background-color: #ffcc00
    color: black

  &.ratebeer
    background-color: #2b93cd
    color: #fbd500

  &.beeradvocate
    background-color: black
    color: #e4aa00


.session.yellow
  background-color: yellow
.session.saturday
  background-color: blue
.session.friday
  background-color: red
.session.green
  background-color: green

#beerlist.session
  background-color: white
  &.yellow h1
    background-color: yellow
  &.saturday h1
    background-color: blue
  &.friday h1
    background-color: red
  &.green h1
    background-color: green
